<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Althvinhaim Video Platform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        /* Put Stuff Inside */
    </style>
</head>
<body>
    <header>
        <!--PUT STUFF-->
    </header>
    <main>
        <!--PUT STUFF-->
    </main>
    <footer> Althvinhaim Video Platform </footer>
    <script>
        /* Put JavaScript here*/
    </script>
</body>
</html>